{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}

	{# minula prednaska - urobit #}

	{% set last = 0 %}

	{% for subpage in (page.children|sort)|reverse %}
		{% if last == 0 %}
			{% set last = 1 %}
			{% for child in (subpage.children|sort) %}
				{% if last == 1 %}
					{% for image in child.media.images %}
						{{image}}
					{% endfor %}
					{{child.content}}
					{% set last = 2 %}
				{% endif %}
			{% endfor %}
		{% endif %}
	{% endfor %}

	{# starsie prednasky #}

	<h3 id="chapter3">O starších prednáškach</h3>
	<table id="prednasky">
		<thead>         
            <tr>
				<th>Prednášajúci</th>
				<th>O prednáške</th>
				<th>Prezentácia</th>
			</tr>
        </thead>
		
		{% for subpage in (page.children|sort)|reverse %}
				<tr class="prednaska-year">
					<td></td>
					<td>
						{{subpage.title}}
					</td>
					<td></td>
				</tr>

				{% for child in (subpage.children|sort) %}
					
					{% set files = child.media.files %}

					<tr>	
						<td style="min-width:11em">
							{{ child.title }}
						</td>
						{% set index = 1 %}	
						{% if files|length == 1 %}
							<td>
								<a href="{{ file.url }}">{{ child.header.prednaska }}</a>
							</td>
							<td></td>
						{% else %}
							{% for file in files %}		
								{% if index == 1 %}
									<td>
										<a href="{{ file.url }}">{{ child.header.prednaska }}</a>
									</td>
									{% set index = 2 %}
								{% elseif index == 2 %}
									<td>
										<a href="{{ file.url }}">{{ child.header.prezentacia }}</a>
									</td>
								{% else %}
									<td>
										
									</td>
								{% endif %}
							{% endfor %}
						{% endif %}					
					</tr>
				{% endfor %}
		{% endfor %}
	</table>

{% endblock %}