{% extends 'partials/base.html.twig' %}

{% block content %}

	{{ page.content }}

	{% set months = ['Január','Február','Marec','Apríl','Máj','Jún','Júl','August','September','Október','November','December'] %}

	{% for subpage in page.children|reverse %}

		{% if subpage.children is not empty %}
			<h3>{{ subpage.title }}</h3> {# rok #}		
			{% for child in subpage.collection %}

				{% set month = child.header.date|date('n') %}

				{% set fullDate = child.header.date|date('n Y') %}
				
				{% set class = '' %} 

				{% if fullDate == lastfullDate %} 
					{% set class = 'duplicate' %} 
				{% endif %}
				 
				{% if month == 8 %}
					{% set predtitulok = 'Ďaľšie fotogalérie:'%}
				{% else %}	
					{% set predtitulok = months[month-1] ~ ' ' ~ child.header.date|date('Y') ~ ':' %}
				{% endif %}	

				{% if class == 'duplicate' %} 
					{% set predtitulok = '' %} 
				{% endif %}
				
				{% set break = false %}

				{% if page.title != 'Fotogalérie'%}
					{% set predtitulok = '•' %}
					{% set small = 'predtitulok-small' %}
				{% endif %}
 
				<p class="no-margin fotogallery"><span class="predtitulok {{small}}">{{ predtitulok }} </span>
					{% if child.media.files %}
						{% for file in child.media.files if not break %}
							<a href="{{ file.url }}" target="blank">{{ child.title }}</a>
							{% set break = true %}
						{% endfor %}
					{% else %}
						<a href='{{ child.url }}'>{{ child.title }}</a>
					{% endif %}
				</p>

				{% set lastfullDate = fullDate %}				

			{% endfor %}

		{% endif %}	

	{% endfor %}

{% endblock %}