{% extends 'partials/base.html.twig' %}

{% block content %}
	<div class="gallery">
	{% for subpage in page.children %}	
		{# galerie #}
		<h3>Autor: {{subpage.title}}</h3>
			{% for image in subpage.media.images %}
				
				{% if(image.meta)%}
					{% if(image.meta.title) %}
						{% set title = image.meta.title %}
					{% endif %}
					{% if(image.meta.alt_text) %}
						{% set title = image.meta.alt_text %}
					{% endif %}
				{% else %}
					{% set title = page.title %}
					{% set alt_text = page.title %}
				{% endif %}

				<div class="gallery-item">
            		<a href="{{ image.url }}" data-lightbox="data" data-title="Autor: {{ subpage.title }}"">{{ image.html(title, alt_text) }}</a>
    			</div>
			{% endfor %}
	{% else %}
		{% if page.title == 'Tablá' %}
			{# tabla #}
			{% for image in page.media.images %}
    			{% set fullurl = image.url|split('.',2) %}
				{% set shorturl = fullurl[0]|reverse %}
				{% set rename = shorturl|split('/',2) %}
				{% set name = rename[0]|reverse %}
				{% set prevname = name|split('-',2) %}
				{% set picture = prevname[1] %}

				{% set final = '' %}
				{% for i in 0..picture|length-1 %}
					{% if picture|slice(i,1) in [1,2,3,4,5,6,7,8,9,'-'] %}
						{% set final = final ~ picture|slice(i,1) %}
					{% else %}
						{% set final = final ~ picture|slice(i,1)|upper %}
					{% endif %}
				{% endfor %}

		    	<div class="gallery-item">
		        	<a href="{{ image.url }}" data-lightbox="data" data-title="{{ final }}">{{ image.html(final, final) }}</a>
		        	<p>{{ final }}</p>
		    	</div>
			{% endfor %}
		{% else %}	
			{{ page.content }}
			{% for image in page.media.images %}

				{% set title = page.title %}
				{% set alt_text = page.title %}

				{% if image.meta.title %}
					{% set title = image.meta.title %}
				{% endif %}
				{% if image.meta.alt_text %}
					{% set alt_text = image.meta.alt_text %}
				{% endif %}
				
				{{ dump(image) }}

				<div class="gallery-item">
		        	<a href="{{ image.url }}" data-lightbox="data">{{ image.html(title, alt_text) }}</a>
		    	</div>
		   	{% else %}
		   		{% for file in page.media.files %}
		   			<div class="gallery-item">
		        		<a href="{{ file.url }}">{{ file }}</a>
		    		</div>
		    	{% endfor %}
			{% endfor %}
		{% endif%}
	{% endfor %}
	</div>	
{% endblock %}
