{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}
	 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.1437946177357!2d17.13126621512462!3d48.14603295855183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c893a841b92d5%3A0x65a6c1444d6eea46!2zU3BvamVuw6EgxaFrb2xhIE5vdm9ocmFkc2vDoQ!5e0!3m2!1ssk!2ssk!4v1466330327060" width="100%" height="316" frameborder="0" style="border:0" allowfullscreen></iframe>
{% endblock %}