{% extends 'partials/base.html.twig' %}

{% block content %}

	<ul>
	    {% for subpage in page.children %}
	    	<li><a href="{{subpage.url}}">{{subpage.title}}</a></li>
	    {% endfor %}
	</ul>

{% endblock %}