{% extends 'partials/base.html.twig' %}

{% block content %}

	{% for p in page.collection %}
		{% if p.header.date %}
			<h3>{{ p.title }}<span class="news_date">{{ p.header.date|date("d.m.Y") }}</span></h3>
			{{ p.content }}
		{% endif %}
	{% endfor %}

{% endblock %}
