{% extends 'partials/base.html.twig' %}

{% block content %}

	{% if page.title == 'Zoznam študentov'%}
		{% set page = 'students'%}
	{% endif %}

	{% if page.title == 'Učitelia, klapky, kabinety'%}
		{% set page = 'directory'%}
	{% endif %}

	{% if page.title == 'Triedy a triedni učitelia'%}
		{% set page = 'teachers'%}
	{% endif %}
	
	<script type="text/javascript">

/*
        function doSearch() {
            var queue = $("#queue");
            var value = queue[0].value.toLowerCase();
            var rows = $( ".table_search table tr" );
            var on = 0;

            for ( var i = 1; i < rows.length; i++ ) {
            	var fullname = rows[i].innerText.toLowerCase();
                if ( fullname ) {
                    if ( value.length == 0 || (value.length < 1 && fullname.indexOf(value) == 0) || (value.length >= 1 && fullname.indexOf(value) > -1 ) ) {
                        rows[i].style.display = "";
                        on++;
                    } else {
                        rows[i].style.display = "none";
                    }
                }

            }
            buildHtmlTable('#json_to_html', tableData);
        }; */

        $("#queue").keyup(function(){
	        _this = this;
	        // Show only matching TR, hide rest of them
	        $.each($("#json_to_html tbody tr"), function() {

	            if($(this).text().toLowerCase().indexOf(removeAccents($(_this).val().toLowerCase())) === -1)
	               $(this).hide();
	            else
	               $(this).show();
	        });
        });


		function buildHtmlTable(selector, myList) {
		    var columns = addAllColumnHeaders(myList, selector);

		    for (var i = 0 ; i < myList.length ; i++) {
		        var row$ = $('<tr/>');
		        for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
		            var cellValue = myList[i][columns[colIndex]];

		            if (cellValue == null) { cellValue = ""; }

		            row$.append($('<td/>').html(cellValue));
		        }
		        $(selector).append(row$);
		    }
		};


		function addAllColumnHeaders(myList, selector) {
		    var columnSet = [];
		    var headerTr$ = $('<tr/>');

		    for (var i = 0 ; i < myList.length ; i++) {
		        var rowHash = myList[i];
		        for (var key in rowHash) {
		            if ($.inArray(key, columnSet) == -1){
		                columnSet.push(key);
		                headers.push(key);
		                headerTr$.append($('<th/>').html(key));
		            }
		        }
		    }
		    $(selector).append($('<thead/>')).append(headerTr$);

		    return columnSet;
		};


$(document).ready(function() {
	headers = [];

    $.ajax({
			url: "http://gjh.sk/pbx/index.php?page={{page}}",
			dataType: 'json'
		})
		.done(function( data ) {
			console.log(data);

			buildHtmlTable('#json_to_html', data);
		    $('#json_to_html').DataTable({
		    	"sPaginationType": "full_numbers",
		    	"info": false,
		    	columns: [
		            { title: headers[0] },
		            { title: headers[1] },
		            { title: headers[2] }
		        ],
		        language: {
				    "sEmptyTable":     "Nie sú k dispozícii žiadne dáta",
				    "sInfo":           "Záznamy _START_ až _END_ z celkom _TOTAL_",
				    "sInfoEmpty":      "Záznamy 0 až 0 z celkom 0 ",
				    "sInfoFiltered":   "(vyfiltrované spomedzi _MAX_ záznamov)",
				    "sInfoPostFix":    "",
				    "sInfoThousands":  ",",
				    "sLengthMenu":     "Zobraz _MENU_ záznamov",
				    "sLoadingRecords": "Načítavam...",
				    "sProcessing":     "Spracúvam...",
				    "sSearch":         "Hľadať:",
				    "sZeroRecords":    "Nenašli sa žiadne vyhovujúce záznamy",
				    "oPaginate": {
				        "sFirst":    " ",
				        "sLast":     " ",
				        "sNext":     " ",
				        "sPrevious": " "
				    },
				    "oAria": {
				        "sSortAscending":  ": aktivujte na zoradenie stĺpca vzostupne",
				        "sSortDescending": ": aktivujte na zoradenie stĺpca zostupne"
				    }
				}
		    });
		})
		.fail(function(data) {
		    console.log(data);
	  	})
		.always(function(data) {
		    console.log(data);
	  	});
});


    </script>

	<div class="table_search">
		{{ page.content }}
		<table id="json_to_html" data-page-length='50'>
  		</table>
	</div>


{% endblock %}
