{% extends 'partials/base.html.twig' %}

{% block content %}
	
	{{page.content}}
	
	<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=600&amp;wkst=2&amp;hl=sk&amp;bgcolor=%23FFFFFF&amp;src=spojenaskola.novohradska@gmail.com&amp;color=%23333333&amp;ctz=Europe%2FBrussels" width="800" height="600" frameborder="0" scrolling="no" style="border-width:0; width: 100%; height: auto; min-height: 400px;"></iframe>

{% endblock %}