{% extends 'partials/base.html.twig' %}

{% block content %}

	{{ page.content }}

	<select name="rocenkaSelect" id="rocenkaSelect" class="search_input" onselect="myFunction()">
		<option value="rok" disabled selected>Zvoľ rok</option>
		{% for subpage in page.children %}			
			<option value="{{ subpage.title }}">{{ subpage.title }}</option>
		{% endfor %}
	</select>

	{% for subpage in page.children %}
		<div class="rocenka" id="{{subpage.title}}">
			{{ subpage.content }}
		</div>
	{% endfor %}
	
	<script>
		
		$('.rocenka').css('display','none');

		var select = $('#rocenkaSelect');

		select[0].onchange = function() {
			$('.rocenka').css('display','none');
		    document.getElementById(this.value).style.display = 'block';
		};

	</script>
	


{% endblock %}