<!DOCTYPE html>
<html lang="sk">
    <head>
        {% block head %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible"      content="IE=edge">
        <meta http-equiv="Content-Language"     content="sk">
        <meta name="viewport"                   content="width=device-width, initial-scale=1">
        <meta name="keywords"                   content="Spojená škola Novohradská, Gymnázium Jura Hronca, Gymnazium Jura Hronca, GJH, Novohradska, Novohradská, ZŠ Košická">
        <meta name="description"                content="Spojená škola Novohradská je škola s vyše 50 ročnou tradíciou poskytujúca kvalitné vzdelávanie na základnej škole a gymnáziu. Na GJH realizujeme štvorročné, päťročné slovensko-anglické bilingválne a osemročné štúdium v slovenskom jazyku a programy PYP, MYP a IB Diploma v anglickom jazyku.">
        <meta property="og:title"               content="{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}">
        <meta property="og:type"                content="website">
        <meta property="og:url"                 content="{{ page.url }}">
        <meta property="og:image"               content="https://m.linuxexpres.cz/uploads/gallery/original/3627.jpg">
        <meta property="og:description"         content="Spojená škola Novohradská je škola s vyše 50 ročnou tradíciou poskytujúca kvalitné vzdelávanie na základnej škole a gymnáziu. Na GJH realizujeme štvorročné, päťročné slovensko-anglické bilingválne a osemročné štúdium v slovenskom jazyku a programy PYP, MYP a IB Diploma v anglickom jazyku.">
        {% if header.robots %}
        <meta name="robots"                     content="{{ header.robots }}">
        {% endif %}
        <meta name="author"                     content="Spojená škola Novohradská">
        <link rel="icon" type="image/png" href="{{ theme_url }}/images/favicon.png">
        <title>{% if header.title %}{{ header.title }} | {% endif %}{{ site.title }}</title>
        {% block stylesheets %}
            {% do assets.add('theme://css/grid.css',100) %}
            {% do assets.add('theme://css/typography.css',100) %}
            {% do assets.add('theme://css/style.css',100) %}
            {% do assets.add('theme://css/style_header.css',100) %}
            {% do assets.add('theme://css/normalize.css',100) %}
            {% do assets.add('theme://fontawesome/css/font-awesome.min.css',100) %}
            {% do assets.addCss('https://fonts.googleapis.com/css?family=Montserrat:400,700',101) %}
            {% do assets.addCss('https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&subset=latin-ext',101) %}
        {% endblock %}
        {% block javascripts %}
            {% do assets.add('https://code.jquery.com/jquery-1.12.3.js', 101) %}
            {% do assets.add('theme://js/bootstrap.min.js') %}
            {% do assets.add('theme://js/javascript.js') %}
            {% if browser.getBrowser == 'msie' and browser.getVersion >= 8 and browser.getVersion <= 9 %}
                {% do assets.add('https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js') %}
                {% do assets.add('https://oss.maxcdn.com/respond/1.4.2/respond.min.js') %}
            {% endif %}
        {% endblock %}
        {% block fullcalendar %}
            {% do assets.add('theme://fullcalendar/fullcalendar.css',100) %}
            {% do assets.add('theme://fullcalendar/lib/moment.min.js') %}
            {% do assets.add('theme://fullcalendar/fullcalendar.js') %}
            {% do assets.add('theme://fullcalendar/lang-all.js') %}
            {% do assets.add('theme://fullcalendar/gcal.js') %}
        {% endblock %}
        {% block slicknav %}
            {% do assets.add('theme://slicknav/slicknav.css') %}
            {% do assets.add('theme://slicknav/jquery.slicknav.min.js') %}
        {% endblock %}
        {% block lightbox %}
            {% do assets.add('theme://lightbox/dist/css/lightbox.min.css') %}
        {% endblock %}
        {% if page.title == 'Zoznam študentov' or page.title == 'Učitelia, klapky, kabinety' or page.title == 'Triedy a triedni učitelia' or page.title == 'Absolventské prednášky' %}
            {% block datatables %}
                {% do assets.add('theme://js/removeAccents.js') %}
                {% do assets.add('theme://datatables/DataTables-1.10.12/js/jquery.dataTables.js') %}
                {% do assets.add('theme://datatables/DataTables-1.10.12/js/dataTables.bootstrap.js') %}
                {% do assets.add('theme://datatables/datatables.fontawesome.css') %}
            {% endblock %}
        {% endif %}
        {{ assets.js() }}
        {{ assets.css() }}
        {% endblock head %}
    </head>
    <body>
    <script>
        $(document).ready(function() {

            $(function(){
                $('#menu').slicknav({});
                $('#footermenu').slicknav({});
            });

            /*if ($(window).height() < 800) {
                // Scroll to menu on hover
                $('.menu-item').hover(function(e){
                    counter = 0;
                    myInterval = setInterval(function () {
                        ++counter;
                        if (counter >= 1){
                            if ($(window).scrollTop() != $("#menu").offset().top) {
                                $('html, body').animate({
                                    scrollTop: $("#menu").offset().top
                                }, 1000);
                            };
                        };
                    }, 1000);
                },function(e){
                    clearInterval(myInterval);
                });
            }
*/
            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                firstDay: 1,
                lang: 'sk',
                header: {
                    left: 'prev',
                    center: 'title',
                    right: 'next'
                },
                googleCalendarApiKey: 'AIzaSyB5SRCu50A7CTjQwWAafnNozoUgiAmx38I',
                events: {
                    googleCalendarId: 'spojenaskola.novohradska@gmail.com',
                    backgroundColor: '#006600',
                },
                eventMouseover: function(calEvent, jsEvent, view) {
                    var calendar = $('#calendar');
                    var calRect = calendar[0].getBoundingClientRect();
                    var rect = this.getBoundingClientRect();
                    var offset = rect.left-calRect.left;
                    var eventDiv = $(this).find('.fc-content');
                    eventDiv.css('left', 1-offset);
                },
                eventMouseout: function(calEvent, jsEvent, view) {
                    var calendar = $('#calendar');
                    var calRect = calendar[0].getBoundingClientRect();
                    var rect = this.getBoundingClientRect();
                    var offset = rect.left-calRect.left;
                    var eventDiv = $(this).find('.fc-content');
                    eventDiv.css('left', '0px');
                },
            });
        });
    </script>

        {# include the header + navigation #}
        {% include 'partials/header.html.twig' %}

    <div class="content grid">
        <div class="row">
            <div class="col-8-12">
                <div class="container">
                    <h2>{{ page.header.title }}</h2>
                    <div class="container_element">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
            <div class="col-4-12">
                <div class="container">
                    <h2>Rýchly prístup</h2>
                    <div class="container_element info">
                        <ul style="margin-top: 0;">
                            <li><a href="https://ssnovohradska.edupage.org/substitution/?" class="informacie"><i class="fa fa-users" aria-hidden="true"></i>Suplovanie</a></li>
                            <li><a href="https://ssnovohradska.edupage.org/menu/?" class="informacie"><i class="fa fa-cutlery" aria-hidden="true"></i>Jedálny lístok</a></li>
                            <li><a href="https://ssnovohradska.edupage.org/timetable/?" class="informacie"><i class="fa fa-calendar" aria-hidden="true"></i>Rozvrhy</a></li>
                            <li><a href="https://ssnovohradska.edupage.org/login/?" class="informacie"><i class="fa fa-graduation-cap" aria-hidden="true"></i>Prihlásenie do Edupage</a></li>
                        </ul>
                    </div>
                </div>
                <div class="container">
                    <h2>Kalendár udalostí</h2>
                    <div class="container_element">
                        <div id='calendar'></div>
                    </div>
                </div>
                <div class="container">
                    <h2>Kontakt</h2>
                    <div class="container_element">
                        <h3>Spojená škola</h3>
                        <p>Novohradská 3, 821 09 Bratislava
                            <br>
                            <br><strong>Tel: </strong><a href="tel:02/21028300">02/210 28 300</a><small> (recepcia - spojovateľ)</small>
                            <br><strong>Tel: </strong><a href="tel:02/21028301">02/210 28 301</a><small> (riaditeľka)</small>
                            <br><strong>Tel: </strong><a href="tel:02/21028324">02/210 28 324</a><small> (<a href="https://gjh.sk/informacie/pre-stravnikov">jedáleň</a>)</small>
                            <br><strong>Tel: </strong><a>02/210 28 XXX</a><small>  (kabinety cez <a href="https://gjh.sk/o-skole/ucitelia-klapky-kabinety">priame klapky</a>)</small>
                            <br><strong>E-mail: </strong> <a href="mailto:riaditel@gjh.sk">riaditel@gjh.sk</a>
                            <br>
                            <br><strong>&raquo; </strong><a href="https://gjh.sk/o-skole/kontakt">Zobraziť podrobnejšie kontakty</a></p>
                        <!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2662.1437946177357!2d17.13126621512462!3d48.14603295855183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c893a841b92d5%3A0x65a6c1444d6eea46!2zU3BvamVuw6EgxaFrb2xhIE5vdm9ocmFkc2vDoQ!5e0!3m2!1ssk!2ssk!4v1466330327060" width="100%" height="316" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                        {# include the minimap #}
                        {% include 'partials/minimap.html.twig' %}
                        <strong>&raquo; </strong><a href="https://gjh.sk/informacie/ako-sa-k-nam-dostat">Ako sa k nám dostať?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# include the footer #}
    {% include 'partials/footer.html.twig' %}

    <script src="{{ theme_url }}/lightbox/dist/js/lightbox.min.js"></script>

    {{ cookiespolicy_markup }}

    <script>
        $(document).ready(function() {
            $("h1, h2, h3, p, li, img, a, i").css( "opacity", "1" );
            $('#header').css('background','transparent');
        });
    </script>
    </body>
    {% block bottom %}{% endblock %}
</html>
