<footer>
    <div class="filter"></div>
    <div class="nav_bar">
        <div class="nav_bar_holder">
            <div class="menu">
                <nav>     
                    <div class="footer grid">
                        <div class="row">                    
                            {% for page in pages.children %}
                                {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                                    {% if page.visible %}
                                        <div class="col-2-12">
                                            <ul class="footermenu"> 
                                                <a href="{{ page.url }}">{{ page.menu }}</a>
                                                {% if page.children %}
                                                    {% for child in page.children %}
                                                        {% if child.visible %}
                                                            <li class="{{ current_page }}"><a href="{{ child.url }}">{{ child.menu }}</a></li>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endif %}  
                                            
                                        </ul>
                                    </div>	
                                {% endif %}			
                            {% endfor %}   
                        </div>
                    </div>             
                </nav>
            </div> 
        </div>
    </div>
    <p class="footer-info">Copyright &copy; 2016 Spojená škola Novohradská. Designed and developed by Ján Timoranský & Tomáš Velich. Powered by <a href="https://getgrav.org/">Grav</a>.</p>
</div>
</footer>