<header id="header" class="header01 header02">
    <a href="//gjh.sk" id="fullimagelink"></a>
    <div class="parallax-holder">
        <div class="parallax-window" id="parallax-window" data-parallax="scroll" data-speed="0.5" data-positionY="0" data-image-src="{{ theme_url }}/images/GJH.pano.jpg"></div>
    </div>
    
    <script>
        $(window).scroll(function() {
            var currentScrollTop = $(window).scrollTop();

            var offset = currentScrollTop / 4;
            $('#parallax-window').css('top', offset*1.5);
        });
    </script>

    <div class="filter"></div>
    <div class="upper_nav content grid">
        <a href="https://gjh.sk/o-skole/zs-kosicka">ZŠ Košická</a>
        <a href="https://gjh.sk/o-skole/program-myp-english" title="Primary Years Programme (English)">PYP AJ</a>
        <a href="https://gjh.sk/myp/index.php" title="Middle Years Programme (English)">MYP</a>
        <a href="https://ib.gjh.sk/" title="International Baccalaureate Diploma Programme">IB Diploma</a>
    </div>
    <div class="nav_bar" id="header">
        <div class="nav_bar_holder">
            <div class="top">
                <div class="logos">
                    <a class="header_img" href="https://gjh.sk"><img id="logo_image" src="" alt="Logo GJH"></a>
                </div>
                <div class="headings">
                    <h1><a href="https://gjh.sk">Spojená škola Novohradská</a></h1>
                    <div class="underheadings">
                        <h2>Gymnázium Jura Hronca</h2>
                        <h2>ZŠ Košická</h2>
                    </div>
                </div>                    
            </div>
            <div class="bottom">
                <div class="menu">
                    <nav>      
                        <ul class="" id="menu">
                            {% for page in pages.children %}
                                {% if page.visible %}
                                    {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                                    <li class="menu-item {{ current_page }}">
                                        <a href="{{ page.url }}">{{ page.menu }}</a>
                                        {% if page.children %}
                                            <ul class="">
                                            {% for child in page.children %}
                                                {% if child.visible %}
                                                    <li class="{{ current_page }}"><a href="{{ child.url }}">{{ child.menu }}</a></li>
                                                {% endif %}
                                            {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </li>
                                {% endif %}
                            {% endfor %}                
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script>
        var srcArray = ['{{ theme_url }}/images/gjh_logo.png', '{{ theme_url }}/images/zs_logo.png', '{{ theme_url }}/images/ib_logo.png']
        var index = 0;

        $("#logo_image").attr("src", srcArray[index]);
        index++;

        window.setInterval(function(){
            $("#logo_image").attr("src", srcArray[index]);
            if (index == 2) {
                index = 0
            } else {
               index++; 
            }   
        }, 5000);
    </script>
</header>