<div class="minimap-container">
    <style>
    #minimap {
        height: 300px;
        width: 316px;
    }
    #minimap * {
        opacity: 1;
    }
    </style>
    <div id="minimap"></div>
    <script>
    function initMap() {
        var gjh = {
            lat: 48.145997,
            lng: 17.133839
        }; //GJH location  48.145997, 17.133839
        var map = new google.maps.Map(document.getElementById('minimap'), {
            zoom: 16,
            center: gjh,
            scrollwheel: false,
            mapTypeId: 'roadmap'
        });
        var marker = new google.maps.Marker({
            position: gjh,
            map: map
        });
    }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDuRTAzumTnWGEwKJCEB8awuLRmyD7IiSM&callback=initMap">
    </script>
</div>
