.header01 .nav_bar_holder{
	height: auto;
	display: flex;
	flex-direction: column;
}

.header01 .nav_bar_holder .top{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header01 .nav_bar_holder .top .logos{
	display: flex;
}

.header01 .nav_bar_holder .top .headings{
	display: flex;
	flex-direction: column;
	height: 150px;
    justify-content: space-around;
}

.header01 .nav_bar_holder .top .underheadings{
	display: flex;
	color: white;
	justify-content: space-between;
}

.header01 .nav_bar_holder .top h1{
	font-size: 3em;
	margin: 0;
}

.header01 .nav_bar_holder .bottom{
	width: 100%;
}



/*



*/

.header02 .nav_bar_holder .top{
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header02 .nav_bar_holder .top .headings{
	width: 100%;
	max-width: 800px;
}

.header02 .nav_bar_holder .top h1{
	font-size: 3.7em;
	margin: 0;
}

.header02 .header_img{
	width: 165px;
}

#header .header_img img{
	display: block;
	margin: auto;
	-webkit-filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.4)) drop-shadow(-1px -1px 2px rgba(0,0,0,0.4));
    filter:drop-shadow(1px 1px 2px rgba(0,0,0,0.4)) drop-shadow(-1px -1px 2px rgba(0,0,0,0.4));
}

@media screen and (max-width: 768px) {

	.header02 .nav_bar_holder .top{
		 height: 220px;
	    padding: 20px;
	}

}

@media screen and (max-width: 600px) {

	.header01 .nav_bar_holder .top .logos{
		display: none;
	}

	.header01 .nav_bar_holder .top h1{
		font-size: 2.7em;
	}
	
}

@media screen and (max-width: 500px) {

	.header01 .nav_bar_holder .top .underheadings{
		display: none;
	}

	.header02 .nav_bar_holder .top{
		height: auto;
	}

	.header02 .nav_bar_holder .top .headings{
		justify-content: flex-end;
	}

	.header01 .nav_bar_holder .top h1{
		font-size: 2.7em;
	}
	
}

@media screen and (max-width: 425px) {

	.header01 .nav_bar_holder .top h1{
		font-size: 2em;
	}
	
}

   