#fullimagelink{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 98;
}

#hideAll {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: transparent;
    z-index: 9999;
    visibility: visible;
    opacity: 1;
}

.slicknav_menu *{
	opacity: 1;
}

.parallax-holder{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.parallax-window {
    background-size: cover;
    background-position: center center;
    box-sizing: border-box;
    min-height: 300px;
    height: 100%;
    background: transparent;
    position: absolute;
    top: 0;
    left: auto;
    width: 100%;
    margin-top: -5px;
    z-index: -50;
    background: url(../images/GJH.pano.jpg);
    background-position: center center;
    background-size: cover;
}

blockquote {
    border-left: 10px solid #e1e1e1;
    background: white;
    color: #999;
    padding: 10px 10px 10px 30px;
    margin: 15px 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


h1, h2, h3, p, li, img, a, i{
	opacity: 0;
    transition: all ease-in-out 0.2s;
}

::-moz-selection {
    background: rgba(43, 164, 43, 0.3);
}

::selection {
    background: rgba(43, 164, 43, 0.3);
}

h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: rgba(51, 51, 51, 1);
    background-color: #f6f4f8;
}

header {
    height: 300px;
    background-attachment: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    border-bottom: 1px solid black;
    position: relative;
    box-shadow: 0px 0px 20px #000;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1), 0px 18px 23px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-top: 5px solid #027202;
    background: transparent;
    background: url(../images/GJH.pano.jpg);
    background-position: center center;
    background-position-y: -24px;
    background-size: cover;
    transition: all 0.55s ease-in-out;
    opacity: 1;
}

header > .nav_bar {
    background: rgba(0, 0, 0, 0.3);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(35, 45, 50, 1.0) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(35, 45, 50, 1.0) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#28343b', GradientType=0);
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 98;
}

header .nav_bar_holder {
    width: 100%;
    max-width: 1110px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    height: 170px;
}

header > .nav_bar h1 {
    color: rgba(255, 255, 255, 1);
    font-size: 3.8em;
    margin-bottom: 20px;
    text-align: center;
}

header > .nav_bar img {
    height: 150px;
    margin: 5px 0;
}

header .menu {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

header a {
    text-decoration: none;
    color: white;
}


nav > .trigger {
    display: none;
    padding: 2px;
    margin-bottom: 6px;
    text-align: center;
    color: white;
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
}

nav > .trigger:hover {
    border-bottom: 2px solid white;
}

header nav ul {
    list-style: none;
}

header nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin: auto;
    list-style: none;
    color: white;
    padding: 0 10px;
}

header nav > ul > li {
    text-align: center;
    margin: 10px 0;
    border-bottom: 2px solid transparent;
    position: relative;
    z-index: 10;
}

header a {
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

header nav ul:hover > li > a {
    color: rgba(255, 255, 255, 0.6);
}

header nav ul > li:hover> a {
    color: rgba(255, 255, 255, 1);
}

header nav ul > li:hover {
    cursor: pointer;
}

header nav ul > li:hover > a {
    position: relative;
    z-index: 10;
}

header nav > ul > li > ul {
    position: absolute;
    visibility: hidden;
    top: 0;
    left: -10px;
    padding: 12px 0;
    width: 250px;
    z-index: 9;
    text-shadow: none;
    opacity: 0;
    -webkit-transform: scale(0.75);
    transform: scale(0.75);
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -webkit-transition: all ease-in-out .25s;
    transition: all ease-in-out .25s;
}

header nav > ul > li > ul > li {
    text-align: left;
    margin: 0 -10px;
    padding: 5px 20px;
    border-bottom: 2px solid transparent;
    position: relative;
    background-color: rgba(35, 45, 50, 1.0);
}

header nav > ul > li > ul > li > a {
    display: inline-block;
    width: 100%;
}

header nav > ul > li > ul > li:first-of-type {
    margin-top: 21px;
}

header nav > ul > li > ul > li:last-of-type {
    padding-bottom: 15px;
}

header nav > ul > li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.content {
    max-width: 1130px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.content > div {}

[class*='col-'] > .container:first-of-type {
    margin-top: 0;
}

.container {
    margin-top: 20px;
    box-shadow: 0px 0px 10px #888888;
    background: #fff;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .05);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.container > h2 {
    width: 100%;
    padding: 9px 20px;
    background: #027202;
    color: white;
    font-size: 18px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.container_element {
    margin: 20px;
    overflow: hidden;
    padding-bottom: 20px;
}

.container_element > *:nth-child(1) {
    margin-top: 0!important;
}

.container_element h2,
.container_element h4,
.container_element h3,
.container_element h1 {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    color: #027202;
}

.container_element p {
    margin-bottom: 20px;
    text-align: justify;
}

.container_element img:not(.full) {
    display: block;
    margin: 20px;
    max-width: 100%;
}

.container_element img.center {
    margin: 20px auto;
}

.container_element img.full {
    width: 100%;
    height: auto;
}

.container_element img.float-left {
    float: left;
    margin-right: 10px;
}

.container_element img.float-right {
    float: right;
    margin-left: 10px;
}

.container_element img.left {
    margin: auto;
    margin-left: 0;
}

.container_element img.right {
    margin: auto;
    margin-right: 0;
}

.container_element table {
    width: 100%;
}

.container_element .news_date {
    font-size: 12px;
    float: right;
    font-weight: lighter;
    color: rgba(0, 0, 0, 0.4);
}

table tr td {
    text-align: center;
}

table tr th {
    border-bottom: 1px solid rgb(208, 232, 208);
}

.info > ul {
    list-style: none;
}

.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.today {
    font-weight: bold;
    border: 2px solid #027202!important;
}

.slicknav_menu {
    background: #027202;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    -webkit-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    -webkit-transition: box-shadow 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    display: none;
}

.informacie {
    color: #222!important;
    text-decoration: none!important;
}

.informacie:hover {
    text-decoration: underline!important;
}

.footer {
    color: #bbb;
    font-size: 12px;
}

footer {
    background: rgba(35, 45, 50, 1.0);
    padding-top: 20px;
    box-shadow: inset 0 0 10px black;
}

.footer a {
    color: #bbb;
    text-decoration: none;
    -webkit-transition: all ease-in-out 0.3s;
    transition: all ease-in-out 0.3s;
}

.footer a:hover {
    color: #eee;
    text-decoration: underline;
}

.gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}

.gallery-item {
    position: relative;
    max-width: 33.3%;
    padding: 5px;
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.gallery-item .gallery-item-filter {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.gallery-item a {
    overflow: hidden;
    width: 100%;
    max-height: 120px;
    position: relative;
}

.gallery-item a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    transition: all .55s ease-in-out;
    z-index: 9;
}

.gallery-item a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url(../images/zoom_icon.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0;
    transition: all .55s ease-in-out;
    z-index: 10;
}

.gallery-item a img {
    -webkit-transition: all 5s cubic-bezier(0.12, 0.8, 0, 1);
    /*-webkit-transition: all 2.4s cubic-bezier(0.4, 0.1, 0, 1);*/
    transition: all 5s cubic-bezier(0.12, 0.8, 0, 1);
    -webkit-transform: scale(1);
    transform: scale(1);
    width: 100%;
    height: auto;
    margin: 0!important;
}

.gallery-item:hover a:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 164, 43, 0.7);
    background: rgba(35, 45, 50, 0.7);
}

.gallery-item:hover a:before {
    opacity: 1;
}

.gallery-item:hover a img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.gallery-item p {
    margin: 10px 0;
}

.calendar {
    margin-top: 0;
}

.calendar .title {
    min-width: 170px;
    width: 100%;
    max-width: 199px;
}

.upper_nav {
    margin-top: 0;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.upper_nav a {
    padding: 5px 10px;
    padding-top: 15px;
    text-shadow: none;
    background-color: #027202;
    border-radius: 0 0 4px 4px;
    margin-right: 3px;
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    box-shadow: 0 0 1px rgba(35, 45, 50, 0.5);
    height: 40px;
    z-index: 99;
}

.upper_nav a:last-of-type {
    margin-right: none;
}

.upper_nav a:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    box-shadow: 0 0 1px rgba(35, 45, 50, 1);
}

.slicknav_nav {
    padding-bottom: 5px!important;
}

.container_element>table,
.table_search>table {
    border-collapse: collapse;
    margin-top: 20px;
}

.container_element>table tr:nth-child(odd),
.table_search table tr:nth-child(odd) {
    background-color: #f6f4f8;
}

.container_element>table tr th,
.table_search table tr th {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
}

.container_element>table tr td,
.container_element>table tr th,
.table_search table tr th,
.table_search table tr td {
    border-radius: 0;
    text-align: left;
    padding: 5px 15px;
}

.container_element>table tr,
.table_search table tr {
    -webkit-transition: background-color .25s ease;
    transition: background-color .25s ease;
}

.pager {
    text-align: center;
    margin: 20px 0;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.pager span {
    padding: 5px;
    margin: 0 5px;
    color: #268ED9;
}

.pager span.active {
    text-decoration: underline;
}

.pager span:hover {
    text-decoration: underline;
    cursor: pointer;
}

.fa {
    color: #027202;
    width: 1.2em;
    text-align: center;
    margin-right: 10px;
    font-size: 1.1em;
}

.fc th {
    text-transform: uppercase;
    background: rgba(35, 45, 50, 1.0);
    color: white;
    padding: height;
    line-height: 30px;
    border: none!important;
}

.no-margin {
    margin-top: 0!important;
    margin-bottom: 5px!important;
}

.white-text {
    color: white;
}

.predtitulok {
    width: 150px;
    display: inline-block;
}

.predtitulok-small {
    width: 10px;
    display: inline-block;
}

.list-menu-menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.list-menu-menu li {
    width: 150px;
    margin: 10px;
    text-align: center;
}

.display input{
    border-radius: 3px;
}


.table_search .col-sm-12{
    width: 100%;
}

.table_search .col-sm-12 table tbody{
    width: 100%;
}

.table_search .col-sm-6{
    width: 50%;
}

.table_search .col-sm-6 label input, .table_search .col-sm-6 label select{
    border: none;
    padding: 3px 6px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background: #f6f4f8;
    min-width: 225px;
    margin: auto;
}

.table_search .col-sm-6 label select{
    min-width: 0;
}

.table_search .col-sm-6 label input:hover,
.table_search .col-sm-6 label input:active,
.table_search .col-sm-6 label input:focus,
.table_search .col-sm-6 label select:hover,
.table_search .col-sm-6 label select:active,
.table_search .col-sm-6 label select:focus {
    background: white;
    outline: none;
}

.table_search .col-sm-5{
    display: none;
}

.table_search .col-sm-7 > *{
    width: 100%;
}

.table_search .col-sm-7 .pagination{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table_search .col-sm-7 .pagination *{
    opacity: 1;
}

div.dataTables_paginate li.first a:before, div.dataTables_paginate li.previous a:before, div.dataTables_paginate li.next a:after, div.dataTables_paginate li.last a:after {
    position: absolute;
    top: -2px!important;
    left: 10px;
    display: block;
    font-family: FontAwesome;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    background: transparent!important;
    border-color: white!important;
    text-decoration: underline!important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default!important;
    opacity: 0.5;
}

@media only screen and (max-width: 1024px) {
    header > .nav_bar img {
        height: 125px;
        margin: 10px 15px;
        margin-right: 5px;
    }
    header > .nav_bar {
        z-index: 98;
    }
    header > .nav_bar h1 {
        font-size: 3em;
    }

    header .nav_bar_holder {
    	margin-top: 0px;
    }
    header{
    	position: relative;
    }
    header .nav_bar{
    	position: absolute;
	    bottom: 0;
	    width: 100%;
    }

}

@media only screen and (max-width: 900px) {
    .slicknav_menu {
        display: block;
        z-index: 999;
    }
    #menu {
        display: none;
    }
    .predtitulok {
        width: 130px;
    }
    .upper_nav a {
        margin-top: 45px;
    }
}

@media only screen and (max-width: 768px) {

    header {
        overflow: hidden;
    }
    header > .nav_bar h1 {
        font-size: 3em;
    }
    nav > .desktop {
        position: absolute;
        width: 100%;
        height: auto;
        z-index: 99;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        left: 0;
        top: 0;
        text-align: right;
        -webkit-box-align: end;
        -ms-flex-align: end;
        -ms-grid-row-align: flex-end;
        align-items: flex-end;
        padding-right: 10px;
        background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0) 0%, rgba(35, 45, 50, 1.0) 100%);
        background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, rgba(35, 45, 50, 1.0) 100%);
        filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#28343b', GradientType=0);
    }
    nav > .trigger {}
    
    footer {
        display: none;
    }
    .gallery-item {
        max-width: 50%;
    }
    .gallery-item a {
        max-height: 110px;
    }
    .predtitulok {
        display: block;
        margin-left: -50px;
    }
    .fotogallery {
        margin-left: 50px;
    }
    .container_element {
	    margin-bottom: 0;
	}
	footer{
		margin-top: 10px;
	    height: 300px;		
		overflow: scroll;
		padding: 30px;
	}
}

@media only screen and (max-width: 650px) {
    .table_search .col-sm-6 {
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
	.header_img{
		display: none;
	}
	header{
		height: 200px;
		background: url(../images/GJH.pano.425.jpg);
	    background-position: center 10px;
	    background-size: cover; 
	}
	.parallax-window {
	    min-height: 200px;
	    background: url(../images/GJH.pano.425.jpg);
	    background-position: center 10px;
	    background-size: cover; 
	}
    header > .nav_bar h1 {
        font-size: 2em;
        margin: .67em;
    }
    header .nav_bar_holder {
        -webkit-box-align: start;
        -ms-flex-align: start;
        -ms-grid-row-align: flex-start;
        align-items: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }
    .calendar .title {
        min-width: 120px!important;
        width: 100%;
        max-width: 130px;
    }
    .zslogo {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        position: absolute;
        right: 0;
    }
    .gallery-item a {
        max-height: 90px;
    }
}

@media only screen and (max-width: 350px) {
    header > .nav_bar h1 {
        font-size: 1.5em;
    }
}


/* responsive table */

@media only screen and (max-width: 992px) {
    
    .table_search table,
    .container_element>table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        display: block;
        position: relative
    }
    .table_search table td:empty:before,
    .container_element>table td:empty:before {
        content: '\00a0'
    }
    .table_search table th,
    .table_search table td,
    .container_element>table th,
    .container_element>table td {
        margin: 0;
        vertical-align: top
    }
    .table_search table th,
    .container_element>table th {
        text-align: left
    }
    .table_search table thead,
    .container_element>table thead {
        display: block;
        float: left
    }
    .table_search table thead tr,
    .container_element>table thead tr {
        display: block;
        padding: 0;
    }
    .table_search table thead tr th,
    .container_element>table thead tr th{
        padding: 4px;
        padding-right: 10px;
        padding-left: 0;
    }
    .table_search table thead tr th::before,
    .container_element>table thead tr th::before {
        content: "\00a0"
    }
    .table_search table tbody,
    .container_element>table tbody {
        display: block;
        width: auto;
        position: relative;
        overflow-x: auto;
        white-space: nowrap
    }
    .table_search table tbody tr,
    .container_element>table tbody tr {
        display: inline-block;
        vertical-align: top
    }
    .table_search table th,
    .container_element>table th {
        display: block;
        text-align: right
    }
    .table_search table td,
    .container_element>table td {
        display: block;
        min-height: 1.25em;
        text-align: left
    }
    .table_search table tr,
    .container_element>table tr {
        padding: 0 10px
    }
    .table_search table thead,
    .container_element>table thead {
        border: 0;
        border-right: 1px solid #d0d0d0
    }
    .table_search table.bordered th,
    .container_element>table.bordered th {
        border-bottom: 0;
        border-left: 0
    }
    .table_search table.bordered td,
    .container_element>table.bordered td {
        border-left: 0;
        border-right: 0;
        border-bottom: 0
    }
    .table_search table.bordered tr,
    .container_element>table.bordered tr {
        border: 0
    }
    .table_search table.bordered tbody tr,
    .container_element>table.bordered tbody tr {
        border-right: 1px solid #d0d0d0
    }
}

/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */ }
  table.dataTable thead th,
  table.dataTable tfoot th {
    font-weight: bold; }
  table.dataTable thead th,
  table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: 1px solid #333333; }
    table.dataTable thead th:active,
    table.dataTable thead td:active {
      outline: none; }
  table.dataTable tfoot th,
  table.dataTable tfoot td {
    padding: 10px 18px 6px 18px;
    border-top: 1px solid #333333; }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc {
    cursor: pointer;
    *cursor: hand; }
  table.dataTable thead .sorting,
  table.dataTable thead .sorting_asc,
  table.dataTable thead .sorting_desc,
  table.dataTable thead .sorting_asc_disabled,
  table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right; }
  table.dataTable thead .sorting {
    background-image: url("../images/sort_both.png"); }
  table.dataTable thead .sorting_asc {
    background-image: url("../images/sort_asc.png"); }
  table.dataTable thead .sorting_desc {
    background-image: url("../images/sort_desc.png"); }
  table.dataTable thead .sorting_asc_disabled {
    background-image: url("../images/sort_asc_disabled.png"); }
  table.dataTable thead .sorting_desc_disabled {
    background-image: url("../images/sort_desc_disabled.png"); }
  table.dataTable tbody tr {
    background-color: white; }
    table.dataTable tbody tr.selected {
      background-color: #b0bed9; }
  table.dataTable tbody th,
  table.dataTable tbody td {
    padding: 8px 10px; }
  table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
    border-top: 1px solid #dddddd; }
  table.dataTable.row-border tbody tr:first-child th,
  table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
  table.dataTable.display tbody tr:first-child td {
    border-top: none; }
  table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd; }
  table.dataTable.cell-border tbody tr th:first-child,
  table.dataTable.cell-border tbody tr td:first-child {
    border-left: 1px solid #dddddd; }
  table.dataTable.cell-border tbody tr:first-child th,
  table.dataTable.cell-border tbody tr:first-child td {
    border-top: none; }
  table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #f9f9f9; }
    table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
      background-color: #abb9d3; }
  table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: whitesmoke; }
    table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
      background-color: #a9b7d1; }
  table.dataTable.order-column tbody tr > .sorting_1,
  table.dataTable.order-column tbody tr > .sorting_2,
  table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
  table.dataTable.display tbody tr > .sorting_2,
  table.dataTable.display tbody tr > .sorting_3 {
    background-color: #f9f9f9; }
  table.dataTable.order-column tbody tr.selected > .sorting_1,
  table.dataTable.order-column tbody tr.selected > .sorting_2,
  table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
  table.dataTable.display tbody tr.selected > .sorting_2,
  table.dataTable.display tbody tr.selected > .sorting_3 {
    background-color: #acbad4; }
  table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
    background-color: #f1f1f1; }
  table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
    background-color: #f3f3f3; }
  table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
    background-color: whitesmoke; }
  table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
    background-color: #a6b3cd; }
  table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
    background-color: #a7b5ce; }
  table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
    background-color: #a9b6d0; }
  table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
    background-color: #f9f9f9; }
  table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
    background-color: #fbfbfb; }
  table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
    background-color: #fdfdfd; }
  table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
    background-color: #acbad4; }
  table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
    background-color: #adbbd6; }
  table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
    background-color: #afbdd8; }
  table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
    background-color: #eaeaea; }
  table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
    background-color: #ebebeb; }
  table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
    background-color: #eeeeee; }
  table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
    background-color: #a1aec7; }
  table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
    background-color: #a2afc8; }
  table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
    background-color: #a4b2cb; }
  table.dataTable.no-footer {
    border-bottom: 1px solid #333333; }
  table.dataTable.nowrap th, table.dataTable.nowrap td {
    white-space: nowrap; }
  table.dataTable.compact thead th,
  table.dataTable.compact thead td {
    padding: 4px 17px 4px 4px; }
  table.dataTable.compact tfoot th,
  table.dataTable.compact tfoot td {
    padding: 4px; }
  table.dataTable.compact tbody th,
  table.dataTable.compact tbody td {
    padding: 4px; }
  table.dataTable th.dt-left,
  table.dataTable td.dt-left {
    text-align: left; }
  table.dataTable th.dt-center,
  table.dataTable td.dt-center,
  table.dataTable td.dataTables_empty {
    text-align: center; }
  table.dataTable th.dt-right,
  table.dataTable td.dt-right {
    text-align: right; }
  table.dataTable th.dt-justify,
  table.dataTable td.dt-justify {
    text-align: justify; }
  table.dataTable th.dt-nowrap,
  table.dataTable td.dt-nowrap {
    white-space: nowrap; }
  table.dataTable thead th.dt-head-left,
  table.dataTable thead td.dt-head-left,
  table.dataTable tfoot th.dt-head-left,
  table.dataTable tfoot td.dt-head-left {
    text-align: left; }
  table.dataTable thead th.dt-head-center,
  table.dataTable thead td.dt-head-center,
  table.dataTable tfoot th.dt-head-center,
  table.dataTable tfoot td.dt-head-center {
    text-align: center; }
  table.dataTable thead th.dt-head-right,
  table.dataTable thead td.dt-head-right,
  table.dataTable tfoot th.dt-head-right,
  table.dataTable tfoot td.dt-head-right {
    text-align: right; }
  table.dataTable thead th.dt-head-justify,
  table.dataTable thead td.dt-head-justify,
  table.dataTable tfoot th.dt-head-justify,
  table.dataTable tfoot td.dt-head-justify {
    text-align: justify; }
  table.dataTable thead th.dt-head-nowrap,
  table.dataTable thead td.dt-head-nowrap,
  table.dataTable tfoot th.dt-head-nowrap,
  table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap; }
  table.dataTable tbody th.dt-body-left,
  table.dataTable tbody td.dt-body-left {
    text-align: left; }
  table.dataTable tbody th.dt-body-center,
  table.dataTable tbody td.dt-body-center {
    text-align: center; }
  table.dataTable tbody th.dt-body-right,
  table.dataTable tbody td.dt-body-right {
    text-align: right; }
  table.dataTable tbody th.dt-body-justify,
  table.dataTable tbody td.dt-body-justify {
    text-align: justify; }
  table.dataTable tbody th.dt-body-nowrap,
  table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap; }
 
table.dataTable,
table.dataTable th,
table.dataTable td {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }
 
/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1; }
  .dataTables_wrapper .dataTables_length {
    float: left; }
  .dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right; }
    .dataTables_wrapper .dataTables_filter input {
      margin-left: 0.5em; }
  .dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0.755em; }
  .dataTables_wrapper .dataTables_paginate {
    float: right;
    text-align: right;
    padding-top: 0.25em; }
    .dataTables_wrapper .dataTables_paginate .paginate_button {
      box-sizing: border-box;
      display: inline-block;
      min-width: 1.5em;
      padding: 0.5em 1em;
      margin-left: 2px;
      text-align: center;
      text-decoration: none !important;
      cursor: pointer;
      *cursor: hand;
      color: #333333 !important;
      border: 1px solid transparent;
      border-radius: 2px; }
      .dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
        color: #333333 !important;
        border: 1px solid #979797;
        background-color: white;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, gainsboro));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, white 0%, gainsboro 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, white 0%, gainsboro 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, white 0%, gainsboro 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, white 0%, gainsboro 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, white 0%, gainsboro 100%);
        /* W3C */ }
      .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
        cursor: default;
        color: #666 !important;
        border: 1px solid transparent;
        background: transparent;
        box-shadow: none; }
      .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        color: white !important;
        border: 1px solid #111111;
        background-color: #585858;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111111));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #585858 0%, #111111 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #585858 0%, #111111 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #585858 0%, #111111 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #585858 0%, #111111 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #585858 0%, #111111 100%);
        /* W3C */ }
      .dataTables_wrapper .dataTables_paginate .paginate_button:active {
        outline: none;
        background-color: #2b2b2b;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* Chrome10+,Safari5.1+ */
        background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* FF3.6+ */
        background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* IE10+ */
        background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
        /* Opera 11.10+ */
        background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
        /* W3C */
        box-shadow: inset 0 0 3px #111; }
    .dataTables_wrapper .dataTables_paginate .ellipsis {
      padding: 0 1em; }
  .dataTables_wrapper .dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 40px;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%); }
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter,
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_processing,
  .dataTables_wrapper .dataTables_paginate {
    color: #333333; }
  .dataTables_wrapper .dataTables_scroll {
    clear: both; }
    .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
      *margin-top: -1px;
      -webkit-overflow-scrolling: touch; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td {
        vertical-align: middle; }
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody th > div.dataTables_sizing,
      .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody td > div.dataTables_sizing {
        height: 0;
        overflow: hidden;
        margin: 0 !important;
        padding: 0 !important; }
  .dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: 1px solid #333333; }
  .dataTables_wrapper.no-footer div.dataTables_scrollHead table,
  .dataTables_wrapper.no-footer div.dataTables_scrollBody table {
    border-bottom: none; }
  .dataTables_wrapper:after {
    visibility: hidden;
    display: block;
    content: "";
    clear: both;
    height: 0; }
 
@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em; } }
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center; }
  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em; } }

.footer-info{
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: 5px 7px;
    padding-bottom: 10px;
}

.footer-info:before {
    content: "";
    height: 1px;
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);

    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
}

.footer-info a{
    color: inherit;
}

.footer-info a:hover{
    color: rgba(255, 255, 255, 0.75);
}

.fc-event-container *{
	opacity: 1!important;
}

.footermenu{
	list-style: none;
}

.footermenu li{
	margin-left: 10px;
	position: relative;
}

.footermenu li:before{
	content: "•";
	position: absolute;
	left: -10px;
}

.prednaska-year td{
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
}