body {
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
}
small{
  font-size: 12px;
  font-weight: 100;
}
.container_element h1, .container_element h2, .container_element h3, .container_element h4, .container_element h5, .container_element h6{
    margin-bottom: 10px;
    margin-top: 20px;
    display: block;
}
.container_element h1:first-letter, .container_element h2:first-letter, .container_element h3:first-letter, .container_element h4:first-letter, .container_element h5:first-letter, .container_element h6:first-letter{
    text-transform: capitalize;
}
.container_element:not(.calendar) > p, .container_element:not(.calendar) ul, .container_element:not(.calendar) ol, .container_element:not(.calendar) pre, .container_element:not(.calendar) table, .container_element:not(.calendar) blockquote {
  margin-top: 0px;
}

.container_element:not(.calendar) > p, .container_element:not(.calendar) > ul, .container_element:not(.calendar) > ol, .container_element:not(.calendar) > pre, .container_element:not(.calendar) > table, .container_element:not(.calendar) > blockquote,
.container_element:not(.calendar) > .table_search > table, .container_element:not(.calendar) > .table_search > ul, .container_element:not(.calendar) > .table_search > ol, .container_element:not(.calendar) > .table_search > p{
  margin-top: 10px;
}

.container_element ul ul, .container_element ol ol, .container_element ul ol, .container_element ol ul {
  margin-top: 0;
  margin-bottom: 0;
}
.container_element hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0;
}
.container_element b, .container_element strong, .container_element em, .container_element small, .container_element code {
  line-height: 1;
}
.container_element sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}
.container_element sub {
  bottom: -0.25em;
}
.container_element a {
  color: #268ED9;
  text-decoration: none;
  line-height: 1.8em;
}
.container_element a:hover {
  text-decoration: underline;
}

.container_element .table_search table tr td, .container_element .table_search table tr th {
    text-align: left;
}